body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

@font-face {
  font-family: 'ds-digitalbold_italic';
 src: url('ds-digit-webfont.woff2') format('woff2'),
      url('ds-digit-webfont.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}


h1 {
  color: ##E6E6FA;
  padding: 20px 0px 10px 0px;
}
h2 {
  color: #d7b6e3;
  padding: 20px 0px 10px 0px;
}
/* This changes color and removes default underline in links  */
a {
color: #DA70D6;
text-decoration: none;
}

/* Centers images */

img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

h1 {
  border-bottom: 1px solid grey;
}
html, body {
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.wrap {
  position: relative;
  min-height: 100%;
  background: #0C2A4D;
  transform-style: preserve-3d;
  perspective: 10px;
}

.c {
  position: absolute;
  border-radius: 50%;
  animation: drop 5s infinite;
}

@for $i from 1 through 30 {
  $size: random(80) * 1px + 20;
  $hue: $i * 9.6 + 0;
  .c:nth-child(#{$i}){
    box-shadow: 0 0 $size 5px hsla($hue, 100%, 50%, 1);
    background: hsla($hue, 100%, 50%, .5);
    background: linear-gradient(top left, lighten(hsla($hue, 100%, 50%, .9), 20%) 10%, hsla($hue, 100%, 50%, .5));
    border: 2px solid lighten(hsla($hue, 100%, 50%, .2), 20%);
    transform: translate3d(random(1000)+px,random(1000)+px, 0);
    animation-delay: random(400) * -.1s;
    width: $size;
    height: $size;

  }
}

@keyframes drop {
  100% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }
}
